.todoList{
    list-style: none;
    padding: 0px 0px 0px 0px;
    grid-row: 1;
    overflow:auto;
}

.leftPanel{
    height: 400px;
}
.rightPanel{
    height: 330px;
}

@media (max-width: 1560px){
    .rightPanel{
        
    }
}
