.todoContainer{
    grid-column: 2/3;
    grid-row: 3;
    border: 1px solid black; 
    background-color: white;   
    border-radius: 5px;
    display: grid;
    grid-template-rows: 85% 15%;
    padding: 0 15px 0 15px;
  }
  
  