.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 330px;
  width: 100%;
  
}
.show-counter{
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #000;
}

.time-container{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}

.input-time{
  width: 200px;
  height: 200px;
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  box-shadow: none;
  font-size: 100px;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  box-sizing: border-box;
  &:focus {
    outline: none;    
  }
}

.input-time:focus{
  background: 
    linear-gradient(#000, #000) center bottom 20px /calc(100% - 10px) 2px no-repeat;
}


.button-time{
  width: 80px;
  height: 40px;
  margin: 15px 15px;
  border-radius: 5px;
  border: none;

}

.button-time:hover{
  cursor: pointer;
}

.button-play{
  background-color: #9ED2BE;
  transition: 0.5s;
}

.button-play:hover{
  background-color: #7EAA92;
}

.button-stop{
  background-color: #EF6262;
  transition: 0.5s;
}

.button-stop:hover{
  background-color: #F24C3D;
}

.button-pause{
  background-color: #64CCC5;
  transition: 0.5s;
}

.button-pause:hover{
  background-color: #176B87;
}

.span-time{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
}

.individual-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individual-container span{
  font-size: 25px;
}

@media (max-width: 1110px){
  .container{
      grid-row: 2/4;
      grid-column: 1;
  }

  .input-time{
    width: 100px;
    height: 100px;
  }

}

@media (max-width: 690px){
  .container-buttons{
    display: flex;
    flex-direction: column;
    
  }
}
